/* Reset from Josh Comeau: 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
    /* height: 100vh; */
}

.sidebar {
    min-width: 180px;
    padding: 20px;
    background-color: #065f46;
    color: white;
    grid-column: 1 / 2;
    grid-row: 1 / 5;
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    align-content: start;
    gap: 5px;
}


.sidebar span:nth-of-type(1) {
  margin-top: 25px;
}

.sidebar span:nth-of-type(7) {
  margin-top: 25px;
}

.sidebar svg:nth-of-type(2) {
  margin-top: 25px;

}
.sidebar svg:nth-of-type(8) {
  margin-top: 25px;

}

.sidebar svg {
    justify-self: center;
}


.header {
    background-color: #a7f3d0;
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 1fr 14fr 5fr;
    grid-template-rows: 1fr 2fr;
    gap: 5px 20px;
    padding: 20px 50px 0px 30px;
    align-items: center;
}

.main {
    background-color: #ecfdf5;
    grid-column: 2 / 3;
    grid-row: 2 / 5;
}

.symbol {
    width: 30px;
    height: 30px;
}

#search-symbol {
    justify-self: self-end;
}

.logo {
    width: 50px;
    height: 50px;
    justify-self:self-end;
}

#top-right-header {
    display: flex;
    justify-content: end;
    gap: 40px;
    align-items: center;
}

input {
    border-radius: 20px;
    border: none;
    min-height: 30px;
    padding: 10px;
    font-weight: 600;
}

.buttons-container {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

button {
    min-width: 120px;
    height: 40px;
    border-radius: 30px;
    background-color: #065f46;
    color: white;
    border: none;
    font-weight: bold;
}

button:hover {
  cursor: pointer;
}

.symbol-white {
    filter: invert(100%) sepia(8%) saturate(0%) hue-rotate(120deg) brightness(108%) contrast(106%);
}

svg {
    width: 20px;
}

.big-logo {
    width: 40px;
}

.main {
  padding: 20px 30px;
  margin: 0;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
}

.cards-container {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 20px 1fr 1fr;
  gap: 20px;
}

.announcements {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.trending {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.cards-container h3 {
  grid-column: 1 / 4;
}

.card, .announcements-card {
  background-color: white;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px black;
  border-left: 10px solid #065f46;
  display: flex;
  flex-direction: column;
}

.card-symbols {
  margin-top: auto;
  padding: 5px;
}

ul {
  list-style: none;
  display: flex;
  justify-content: right;
  gap: 10px;
}

.announcements {
  display: grid;
  grid-template-rows: 20px 1fr;
  gap: 20px;
}

.announcements-card {
  border: none;
  padding: 15px;
  display: flex;
  gap: 20px;
}

.announcements-card div {
  border-bottom: 2px solid rgb(201, 201, 201);
  padding-bottom: 15px;
}

.announcements-card :last-child {
  border: none;
}

.trending-card img {
  width: 40px;
  height: 40px;
}